.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------*/
/*  customization */
/*--------------------------------*/
.text-justify{
  text-align: justify;
}

.NavBar{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);   position: fixed;
  width: 100%;
  color: white;
  padding: 5px;
}

.logo{
  float: left;
}
.NavBar ul{
  float: right;
  
}

.NavBar ul>li{
  display: inline-block;
  padding-right: 30px;
  
}

.NavBar a{
  text-decoration: none;
  color: white;
}

footer>div{
  padding: 15px;
}

.product-display-info{
  box-shadow: #282c34 2px;
  border-radius: 5px;
  text-align: center;
}

.product-display-info:hover{
  box-shadow: #282c34 4px;
}

.product-display-info img{
  width: 100%;
  height: 200px;
}

.product-display-info a{
  padding: 6px;
  text-decoration: none;
  color: white;
  background-color: darkcyan;
  border-radius: 3px;
}

.product-display-info a:hover{
  color: darkblue;
}